<h1><%= @house.name %></h1>
<% @house.characters.each do |character| %>
<div class="char">
  <h2><%= link_to character.name, character_path(@house) %></h2>
  <%= image_tag character.img_url %>
</div>

<%= link_to "Edit", edit_house_path(@house, character) %>
      <%= link_to "Delete", house_path(@house, character), method: :delete%>
<% end %>
