<h1><%= @character.name %></h1>
<% @character.houses.each do |house| %>
<div class="char">
  <h2><%= link_to house.name, house_path(@character) %></h2>
  <%= image_tag house.img_url %>
</div>

<%= link_to "Edit", edit_character_path(@character, house) %>
      <%= link_to "Delete", character_path(@character, house), method: :delete%>
<% end %>
